:root {
  --white-color: #ffffff;
  --orange-color: #f58a07;
  --main-body-color: #5b5b5b;
  --sections-bg: #dceaf5;
  --title-black: #0d1317;
  --title-dark-blue: #1d3444;
  --border-pale-color: #a8bccc;
  --hero-latest-bg: #dceaf5;
  --list-item-color: #394149;
  --footer-bg: #063255;
  --main-bg: #edf7ff;
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --contact-input-bg: #d2daed2b;
}

.hero {
  background: var(--hero-latest-bg);
}
.herp__wrapper {
  display: flex;
}
.container {
}
.hero-left {
  margin-top: 11.7rem;
  width: 580px;
  margin-right: 15.4rem;
}
.hero__title {
  color: var(--title-dark-blue);
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.03em;
  margin-bottom: 1.2rem;
}
.hero__text {
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}
.hero-left__buttons {
  margin-bottom: 5.6rem;
}
.see-our-btn {
  cursor: pointer;
  background: var(--orange-color);
  color: var(--white-color);
  border: none;
  font-size: 1.6rem;
  padding: 1.8rem 3.2rem;
  border-radius: 2.7rem;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
}
.see-all-btn {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  padding: 1.8rem 3.2rem;
  border-radius: 2.7rem;
  color: var(--title-dark-blue);
  background: none;
  border: none;
  transition: 0.3s;
}

.see-all-btn:hover {
  background: var(--orange-color);
  color: var(--white-color);
}
.hero-left__companies {
}
.compaines-discription {
  margin-bottom: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--list-item-color);
  opacity: 50%;
}
.compaines-logo--link {
  display: flex;
  gap: 4.5rem;
}
.compaines-logo-a {
}
.compaines-logo-b {
}
.compaines-logo-c {
}
.hero-right {
  position: relative;
  display: flex;
}
.hero-person__img-z2 {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: -18.5rem;
}
.hero-shape-z1 {
  width: 15.5rem;
  height: 24.1rem;
  border-radius: 2rem 2rem 0 0;
  background: var(--orange-color);
  margin-top: auto;
  z-index: 1;
}
.hero-shape-z3 {
  width: 18.1rem;
  height: 37rem;
  margin-top: 33.3rem;
  border-radius: 2rem 2rem 0 0;
  background: var(--orange-color);
  margin-right: 19.7rem;
  z-index: 3;
  opacity: 75%;
}
/* HERO END */
/* WE HELP START */
.we-help {
}
.we-help__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.we-help__title {
  margin-bottom: 2.7rem;
  font-size: 4.8rem;
  font-weight: 600;
  width: 73.5rem;
  color: var(--title-dark-blue);
}
.we-help__text {
  margin-bottom: 6.4rem;
  line-height: 1.5;
  width: 73.5rem;
  color: var(--main-body-color);
}
.we-help__reclam-page {
}
.we-help__list {
  display: flex;
  gap: 4rem;
}
.we-help__list-item {
  background: var(--white-color);
  border-radius: 2rem;
}
.we-help__list-img {
  margin-bottom: 3.2rem;
}
.we-help__list-info {
}
.we-help__list-title {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
}
.we-help__list-text {
  margin-bottom: 2.4rem;
  font-weight: 500;
  color: var(--main-body-color);
  font-size: 1.6rem;
  line-height: 1.5;
}
.we-help__list--learn-more {
  margin-bottom: 3.2rem;
}
.learn-more__link {
  display: flex;
}
.learn-more__text {
  color: var(--orange-color);
  margin-right: 0.8rem;
}
.learn-more__icon {
}
/* WE HELP END */
/* SOFTWARE START */
.software {
  background: var(--main-bg);
}

.software__wrapper {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.software__title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 6.4rem;
}
.software__title {
  color: var(--title-black);
  margin-right: 4rem;
  width: 61.9rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
.software__text {
  width: 62rem;
  color: var(--main-body-color);
}
.software__list-wrapper {
  display: flex;
}
.software__list {
  display: flex;
  gap: 3.8rem;
}
.software__item {
  padding: 4.8rem 2.6rem 3.7rem 3.9rem;
  border-radius: 2rem;
  background: var(--white-color);
}
.software__link {
}
.invoicing-icon {
  margin-bottom: 3.2rem;
}
.software__list-title {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1;
}
.software__list-text {
  color: var(--main-body-color);
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
}
.support-icon {
  margin-bottom: 3.2rem;
}
.surveying-icon {
  margin-bottom: 3.2rem;
}
