.header {
}
.header__wrapper {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
}
.container {
}
.site-logo-black__link {
  margin-right: auto;
}
.site-logo-black {
}
.header__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding: 1.8rem 0;
  margin-right: 4rem;
}
.header__list-item {
}
.header__link {
  color: #394149;
  font-weight: 600;
}
.header__btn {
}
.header__btn-link {
  border-radius: 3.1rem;
  background: rgba(245, 138, 7, 0.1);
  color: var(--orange-color);
  font-family: var(--main-font);
  padding: 1.8rem 3.2rem;
  font-weight: 600;
}
